<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= project.status.humanize %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Details:</strong>
    <%= project.details %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= project.user.email %>
  </p>
</div>
